@charset "UTF-8";
/* CSS Document */

.section input {
	display: inline-block;
}

.content {
	width: 700px;
}

.infoBlock {
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px 2px #888888;
}

.editSection {
	padding: 5px;
	box-shadow: 0px 0px 10px 2px #888888;
}